apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
spec:
  values:
    controller:
      resources:
        limits:
          cpu: 300m
          memory: 300Mi
        requests:
          cpu: 300m
          memory: 300Mi
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 30
        targetCPUUtilizationPercentage: 70
        targetMemoryUtilizationPercentage: 98